In [1]:
# import the needed libraries and datasets
import pandas as pd
import numpy as np

**23.** Given a DataFrame of numeric values, say
```python
df = pd.DataFrame(np.random.random(size=(5, 3))) # a 5x3 frame of float values
```

how do you subtract the row mean from each element in the row?

In [2]:
df = pd.DataFrame(np.random.random(size=(5, 3)))
print (df)
df.sub(df.mean(axis=1), axis=0)

          0         1         2
0  0.589525  0.332321  0.896920
1  0.188348  0.535124  0.607864
2  0.454623  0.275022  0.061718
3  0.096123  0.486172  0.671748
4  0.307885  0.753948  0.602183

          0         1         2
0 -0.016731 -0.273934  0.290665
1 -0.255431  0.091345  0.164086
2  0.190835  0.011235 -0.202070
3 -0.321891  0.068158  0.253734
4 -0.246787  0.199276  0.047511

**24.** Suppose you have DataFrame with 10 columns of real numbers, for example:

```python
df = pd.DataFrame(np.random.random(size=(5, 10)), columns=list('abcdefghij'))
```
Which column of numbers has the smallest sum? (Find that column's label.)

In [5]:
df = pd.DataFrame(np.random.random(size=(5, 10)), columns=list('abcdefghij'))
print (df)
x= df.sum().idxmin()
print ('\n')
print ("The smallest total sum column:", x)

          a         b         c         d         e         f         g  \
0  0.796671  0.021393  0.429211  0.189186  0.012040  0.903377  0.223600
1  0.662946  0.176872  0.006330  0.502522  0.584579  0.630581  0.122870
2  0.282395  0.552465  0.453822  0.132464  0.657894  0.705580  0.384278
3  0.584392  0.372361  0.738951  0.157733  0.120760  0.557182  0.074773
4  0.134161  0.678565  0.339814  0.183408  0.886200  0.735379  0.577141

          h         i         j
0  0.047700  0.477289  0.414253
1  0.396303  0.651249  0.170930
2  0.391282  0.020591  0.969881
3  0.928245  0.412045  0.399550
4  0.956009  0.584952  0.158844


The smallest total sum column: d