In [50]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

df = pd.read_csv("9745_greatest_books_ever1.csv")

In [51]:
df.head()

,Unnamed: 0,url,book_id,title,author,good_read_score,good_read_votes,avg_rating,num_reviews,num_ratings,...,dystopia,realistic_fiction,contemporary_romance,american,school,vampires,history,high_fantasy,new_adult,war
0,0,https://www.goodreads.com/book/show/13509957-c...,13509957,Charmeine,Emily Guido,395,4,3.96,56,127,...,No,No,No,No,No,Yes,No,No,No,No
1,1,https://www.goodreads.com/book/show/17999935-a...,17999935,Arsen: A Broken Love Story,Mia Asher,395,5,4.16,2865,15936,...,No,No,Yes,No,No,No,No,No,Yes,No
2,2,https://www.goodreads.com/book/show/23367265-i...,23367265,Immortal Reign,Morgan Rhodes,395,5,4.17,1601,10358,...,No,No,No,No,No,No,No,Yes,No,No
3,3,https://www.goodreads.com/book/show/22080.West...,22080,Westworld,Michael Crichton,395,4,3.86,51,2216,...,Yes,No,No,No,No,No,No,No,No,No
4,4,https://www.goodreads.com/book/show/50892338-l...,50892338,Legendborn,Tracy Deonn,395,4,4.48,5271,19667,...,No,No,No,No,No,No,No,No,No,No

In [45]:
df['vampires'] = df['vampires'].map({1: 'yes', 0: 'no'})

In [52]:
df.replace(('Yes', 'No'), (1, 0), inplace=True)

In [53]:
df.head()

,Unnamed: 0,url,book_id,title,author,good_read_score,good_read_votes,avg_rating,num_reviews,num_ratings,...,dystopia,realistic_fiction,contemporary_romance,american,school,vampires,history,high_fantasy,new_adult,war
0,0,https://www.goodreads.com/book/show/13509957-c...,13509957,Charmeine,Emily Guido,395,4,3.96,56,127,...,0,0,0,0,0,1,0,0,0,0
1,1,https://www.goodreads.com/book/show/17999935-a...,17999935,Arsen: A Broken Love Story,Mia Asher,395,5,4.16,2865,15936,...,0,0,1,0,0,0,0,0,1,0
2,2,https://www.goodreads.com/book/show/23367265-i...,23367265,Immortal Reign,Morgan Rhodes,395,5,4.17,1601,10358,...,0,0,0,0,0,0,0,1,0,0
3,3,https://www.goodreads.com/book/show/22080.West...,22080,Westworld,Michael Crichton,395,4,3.86,51,2216,...,1,0,0,0,0,0,0,0,0,0
4,4,https://www.goodreads.com/book/show/50892338-l...,50892338,Legendborn,Tracy Deonn,395,4,4.48,5271,19667,...,0,0,0,0,0,0,0,0,0,0

In [54]:
df1=pd.read_csv("top_50_genres.csv")

    Unnamed: 0  count
0      Fiction   7632
1      Fantasy   5637
2  Young Adult   4131
3      Romance   4057
4   Historical   2446